# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
credentials.json
api/node_modules
infra/.terraform/providers/registry.terraform.io/hashicorp/google/6.35.0/darwin_arm64/LICENSE.txt
infra/.terraform/providers/registry.terraform.io/hashicorp/google/6.35.0/darwin_arm64/terraform-provider-google_v6.35.0_x5
infra/terraform.tfstate.backup
infra/terraform.tfstate
infra/.terraform.lock.hcl
